@charset "utf-8";
/* Sodoku_Style.css CSS Document */

body {
	background-color:white;
	
}

html {
	background-color:#fff9d0;
}

nav.horizontalNavigation a{
	background-color:rgb(153,153,153);
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1.4em;
	line-height:2.0em;
	text-align:center;
	color:rgb(255,255,255);
}


body > header > nav.horizontalNavigation li{
	width:16.60%;
}

nav.horizontalNavigation li{
	display:block;
	float:left;
}

nav.horizontalNavigation a{
	display:block;
	text-align:center;
}


section#rightColumn{
	float:right;
	width:60%;
	
}
section#leftColumn{
	float:left;
	width:60%;
}


section#rightColumn > nav.horizontalNavigation li{
	width:25%;
}

footer > nav.verticalNavigation{
	float:left;
	width:20%;
}

footer > section#contactNas{
	float:left;
	width:30%;

}

nav.verticalNavigation a{
	color:#000;
	font-size:1.0em;
	line-height:1.5em;
	text-align:center;
}

nav.verticalNavigation h1{
	background-color:#B29600;
	font-size:1.2em;
	line-height:2.0em;
	text-align:center;
}

nav.verticalNavigation li{
	text-align:center;
}
footer{
	background-color:#7F6B00;
}

section#contactNas h1 {
	background-color:#B29600;
	font-size:1.2em;
	line-height:2.0em;
}


/*body style*/
body{
	margin-left:auto;
	margin-right:auto;
	max-width:960px;
	min-width:620px;
	width:95%;
}


body > header > img{
	display:block;
	width:100%;
}

section#rightColumn{
	clear:right;
	width:30%;
	float:right;
	padding:1.5em;
}


section#leftColumn{
	clear:left;
	width:30%;
	float:left;
	padding:1.5em;
}

footer{
	clear:left;
}

footer::after{
	clear:both;
	content:"";
	display:table;
}

nav ul {
	list-style: none;
	
}


